@use'../../../../../../scss/' as *;

.header-container {
  .header-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #096dd9;
  }

  .header-content {
    @include flex(center, space-between);
  }
}