@use'../../../../scss/' as *;

.wrap-header {
    // @include overlay();
    background-color: #612500;
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    .header-logo {
        height: $header-height;

        img {
            height: $header-height;
            object-fit: cover;
        }
    }

    .header-item {
        color: #fff;
        font-weight: 600;
        font-size: 1.2rem;
        height: 100%;
        padding: 12px;
        transition: all ease-in 0.3s;

        &.active {
            color: $btn-orange-color;
        }

        &:hover {
            color: $primary-color;
        }

        &.login-btn {
            padding: 8px 12px;
            margin-left: 16px;
            border-radius: 16px;
            transition: all ease-in 0.3s;

            &:hover {
                background-color: #873800;
            }
        }

    }

    .search-input {
        & .ant-input-search-button {
            background-color: #333;
            border-color: #333;

            &:hover {
                color: $btn-orange-color;
            }
        }
        & .ant-input {
            &:hover,
            &:focus {
                border-color: #ddd;
            }
        }
    }

    .wrap-icon {
        color: #fff;
        font-weight: 600;
        font-size: 1.6rem;
        cursor: pointer;
        margin-left: 20px;
        border-radius: 50%;
        transition: all ease-in-out 0.3s;

        &:hover {
            color: $btn-orange-color;
        }
    }

    .wrap-avatar {
        cursor: pointer;
    }

    .name-account {
        margin-left: 20px;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
    }
}

.menu-item {
    font-weight: 500;
    color: #555;
    font-size: 14;

    &.logout {
        color: $hover-color;
    }
}