@use'../../../../scss/' as *;

.wrap-header {
    @include overlay();
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    .header-logo {
        height: $header-height;

        img {
            height: $header-height;
            object-fit: cover;
        }
    }

    .header-item {
        color: #fff;
        font-weight: 600;
        font-size: 1rem;
        margin-right: 12px;
        padding: 12px;

        &.active {
            color: $btn-orange-color;
        }

        &:hover {
            color: $primary-color;
        }

    }

    .search-input {

        & .ant-input-search-button {
            background-color: #333;
            border-color: #333;

            &:hover {
                color: $btn-orange-color;
            }
        }

        & .ant-input {

            &:hover,
            &:focus {
                border-color: #ddd;
            }
        }
    }

    .wrap-icon {
        color: #fff;
        font-weight: 600;
        font-size: 1.4rem;
        cursor: pointer;
        margin-left: 20px;

        &:hover {
            color: $btn-orange-color;

        }
    }

    .wrap-avatar {
        margin-left: 20px;
        cursor: pointer;
    }


}

.menu-item {
    font-weight: 500;
    color: #555;
    font-size: 14;

    &.logout {
        color: $hover-color;
    }
}