@use '../../../../../../scss/' as *;

.wrap-content-order {
  .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 1rem;

    &.text-center {
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }

  .info-row {
    display: flex;

    .info-item {
      width: 50%;
    }
  }
  .info-item {
    margin: 8px 0;
    font-size: 14px;
  }
  .info-title {
    font-weight: bold;
  }
  .info-content {
    color: #595959;
  }

  .ant-table-thead {
    .ant-table-cell {
      background-color: #1890ff;
      color: #fff;
      padding: 8px 16px;

      &:first-child {
        border-top-left-radius: 6px;
      }
      &:last-child {
        border-top-right-radius: 6px;
      }
    }
  }
  .ant-table-tbody > tr > td {
    padding: 8px 16px;
  }

  tr.ant-table-row.ant-table-row-level-0[data-row-key="total"] {
    background-color: #fafafa;
    font-weight: bold;
    &:hover {
      .ant-table-cell {
        background-color: unset;
      }
    }

    .ant-table-cell {
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(5) {
        border-right: 0;
      }
      &:nth-child(4) {
        transform: translateX(-70%);
        border-right: 0;
      }
      &:nth-child(5) {
        transform: translateX(140%);
      }
      &:nth-child(6) {
        border-left: 1px solid #f0f0f0;
      }
    }
  }
}