$body-bg: #fafafa;

$black: #1a1a1a;
$white: #fff;

$primary-color: #f7ce68;
$btn-orange-color: #f7ab68;
$btn-blue-color: #519ce2;
$txt-color: #262626;

$hover-color: #ff0000;

$footer-bg: rgb(24, 23, 23);
$txt-footer-color: #999a9b;

$header-height: 5rem;
$header-shrink-height: 4.5rem;
$footer-height: 4rem;

$sideBar-width: 260px;

$nav-width: 260px;
$nav-close-width: 70px;

$mobile-width: 600px;
$tablet-width: 1024px;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$border-radius: 30px;

$font-family: "Montserrat", sans-serif;