@use'../../../../scss/' as *;

.order-page-container {
  width: 100%;
  min-height: 100vh;
  padding: 7rem 3rem 2rem;
  background-color: #fff7e6;

  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #612500;
  }

  .cart-header {
    padding: 1rem 2rem;
    background-color: #fff;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    .header-content {
      font-size: 14px;
      font-weight: 600;
    }
  }
  .cart-content {
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 1rem;
    width: 100%;
    .order-item {
      padding: 1rem 2rem;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      .product-img-name {
        @include flex(center, flex-start);
        color: #612500;
        &:hover {
          color: #820014;
        }
        .product-img {
          height: 50px;
          width: 50px;
          object-fit: cover;
          margin-right: 12px;
        }
        .product-name {
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          overflow: hidden;
          font-size: 14px;
          font-weight: bold;
        }
      }
      .product-item__content {
        @include flex(center, flex-start);
        height: 100%;
        font-size: 14px;
        font-weight: 600;
      }
      .sum-price {
        font-weight: bold;
        color: #871400;
      }
      .product-delete {
        height: 100%; 
        svg {
          font-size: 40px;
          cursor: pointer;
          color: #333;
          padding: 4px;
          transition: all 0.3s;
          &:hover {
            color: #cf1322;
          }
        }
      }
    }
  }
}